body {
  margin: 0;
}

.migrationPopupDialog {
  background: transparent;
}

.container--migration-popup {
  background-color: #ffffff;
  max-width: 350px;
  min-width: 300px;
  padding: 12px;
  border-radius: 4px;
  border: 0;
  box-shadow: 0 2px 3px 3px rgba(59, 74, 84, .2), 0 1px 6px rgba(59, 74, 84, .2);
  min-height: 135px;
  position: fixed;
  right: 30px;
  top: 18px;
  width: 350px;
  z-index: 1050;
}

.migration-popup__header__headline {
  color: #3B4A54;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 18px;
}

.migration-popup__header__text {
  color: #3B4A54;
  font-size: 13px;
  margin: 0 0 18px;
}

.migration-popup__footer {
  text-align: center;
}

.migration-popup__footer .button--primary {
  width: 165px;
}

.button {
  background-color: #FFF;
  border: 1px solid #e7e8ea;
  border-radius: 50px;
  box-shadow: 0 1px 1px rgba(59, 74, 84, 0.1);
  color: #646d73;
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: -0.1px;
  line-height: 1;
  height: 39px;
  margin: 6px;
  padding: 12px 30px;
  outline: 0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: box-shadow 225ms cubic-bezier(0.25, 0.8, 0.25, 1), border-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: box-shadow 225ms cubic-bezier(0.25, 0.8, 0.25, 1), border-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: box-shadow 225ms cubic-bezier(0.25, 0.8, 0.25, 1), border-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: box-shadow 225ms cubic-bezier(0.25, 0.8, 0.25, 1), border-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: box-shadow 225ms cubic-bezier(0.25, 0.8, 0.25, 1), border-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1), background-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button[disabled], [disabled].button--primary, [disabled].button--dark, [disabled].button--icon, [disabled].button--action, [disabled].button--link {
  opacity: .6;
  border: 0;
  cursor: default;
}

.button--primary {
  color: #FFF;
  background-color: #d22d27;
  border-color: #d22d27;
  box-shadow: 0 1px 1px rgba(59, 74, 84, 0.1), 0 1px 6px rgba(59, 74, 84, 0.2);
}
.button--primary:hover, .button--primary:focus {
  background-color: #af0809;
  border-color: #af0809;
}
.button--primary:active {
  box-shadow: 0 5px 10px 0px rgba(23, 33, 40, 0.1);
}
.button--primary[disabled]:hover {
  background-color: #d22d27;
}

.button--link {
  color: #646d73;
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}
.button--link:hover, .button--link:focus {
  background-color: rgba(23, 33, 40, 0.1);
}
.button--link[disabled]:hover {
  background-color: transparent;
}

/*******************************************************************************
*              Animations
*******************************************************************************/
.container--migration-popup,
.migration-popup__header,
.migration-popup__footer {
  animation-duration: .66s;
}

.container--migration-popup {
  animation-name: siteDialog-slidein;
}

.migration-popup__header {
  animation-name: siteDialogHeader-fadein;
}

.migration-popup__footer {
  animation-name: siteDialogContent-fadein;
}

@keyframes siteDialog-slidein {
  from, 50% {
    -webkit-animation-timing-function: cubic-bezier(.7, 0, .3, 1);
    animation-timing-function: cubic-bezier(.7, 0, .3, 1);
  }
  to {
    -webkit-animation-timing-function: cubic-bezier(.4, 0, .6, 1);
    animation-timing-function: cubic-bezier(.4, 0, .6, 1);
  }
  from {
    right: -300px;
  }
  50% {
    right: 25px;
  }
  to {
    right: 0;
  }
}

@keyframes siteDialogHeader-fadein {
  25%, 75% {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  from, 25% {
    opacity: 0;
  }
  75%, to {
    opacity: 1;
  }
}

@keyframes siteDialogContent-fadein {
  75%, to {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  from, 75% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}