!--------------!
! URXVT CONFIG !
!--------------!

URxvt.internalBorder:	30
URxvt.scrollBar:	false
URxvt.letterSpace:	-1
URxvt.cursorColor:	#191919
URxvt.font: xft:Hack:size=10, xft:Font Awesome 5 Free Solid:size=10
!! Larger history limit
urxvt.saveLines: 1000000

!! Perl extensions
urxvt.perl-ext-common: default,matcher,font-size,clipboard
!! Open urls in browser with Control-Click
urxvt.urlLauncher: /usr/bin/firefox
urxvt.matcher.button: C1
!! Change font size on Control-Plus/Minus
URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.m-c: perl:clipboard:copy
URxvt.keysym.m-v: perl:clipboard:paste

!-------------!
! ROFI CONFIG !
!-------------!

! state			background	border		separator
rofi.color-window:	#ffffff,	#191919,	#191919	

! state			bg		fg		abg		hbg		hfg
rofi.color-normal:	#ffffff,	#191919,	#ffffff,	#191919,	#ffffff

! general
rofi.width: 33
rofi.padding: 30
rofi.hide-scrollbar: true
rofi.borderwidth: 0
rofi.columns: 1
rofi.lines: 5
rofi.separator-style: solid
rofi.font: Hack 10

rofi.color-enabled: true
!rofi.color-window: #f2a2f0, #f2a2f0, #f2a2f0
!rofi.color-normal: #f2a2f0, #f2a2f0, #f2a2f0

! ------------------------------------------------------------------------------
! theme colors
! ------------------------------------------------------------------------------
! special
! special
*.foreground:   #d3d0c8
*.background:   #2d2d2d
*.cursorColor:  #d3d0c8

! black
*.color0:       #2d2d2d
*.color8:       #747369

! red
*.color1:       #f2777a
*.color9:       #f2777a

! green
*.color2:       #99cc99
*.color10:      #99cc99

! yellow
*.color3:       #ffcc66
*.color11:      #ffcc66

! blue
*.color4:       #6699cc
*.color12:      #6699cc

! magenta
*.color5:       #cc99cc
*.color13:      #cc99cc

! cyan
*.color6:       #66cccc
*.color14:      #66cccc

! white
*.color7:       #d3d0c8
*.color15:      #f2f0ec

